<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Script</title>
    <link rel="stylesheet" href="/static/css/mdui.css">
    <link rel="stylesheet" href="/static/css/input.css">
    <link rel="stylesheet" href="/static/css/card.css">
</head>
<body class="mdui-appbar-with-toolbar mdui-appbar-with-tab-larger"  style="background-color: #343638;overflow: hidden;">
    <div id="bar" class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-indigo-700">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">touch_app</i></a>
            <a href="javascript:;" class="mdui-typo-title">Script_Manager</a>
            <div class="mdui-toolbar-spacer"></div>
            <div style="width: 400px;">
                <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
                    <button class="mdui-textfield-icon mdui-btn mdui-btn-icon" mdui-tooltip="{content: '查找'}"><i class="mdui-icon material-icons">search</i></button>
                    <input class="mdui-textfield-input" style="color: white;" type="text" placeholder="Search"/>
                    <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i></button>
                </div>
            </div>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '删除'}"><i class="mdui-icon material-icons">delete_sweep</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '刷新'}"><i class="mdui-icon material-icons">refresh</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '菜单'}" mdui-menu="{target: '#script-menu', position: 'bottom', covered: false}"><i class="mdui-icon material-icons">more_vert</i></a>
            #include("menu.html")
        </div>
        <div class="mdui-tab mdui-color-indigo-700" mdui-tab>
            <a href="#script-list" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">format_list_bulleted</i>
                <label>Script_List</label>
            </a>
            <a href="#script-server" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">brightness_high</i>
                <label>Servers</label>
            </a>
            <a href="#script-output" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">chat_bubble_outline</i>
                <label>Output</label>
            </a>
            <a href="#script-add" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">add_circle</i>
                <label>Add</label>
            </a>
        </div>
    </div>

    <div class="mdui-container-fluid">
        #include("scriptList.html")
        #include("scriptServer.html")
        #include("scriptOutput.html")
        #include("scriptAdd.html")
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/mdui.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        $(document).ready(function () {
            changeDivHeight();
        })

        //当浏览器窗口大小改变时，设置显示内容的高度
        $(window).resize(function () {
            changeDivHeight();
        })

        function changeDivHeight() {
            // 浏览器可见区域的高
            var bodyHeight = $(document).height();
            var height = $("#bar").height();
            $("#script_output_div").css("height", (bodyHeight - height - 45) + "px");
        }
    </script>
</body>
</html>