<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Script</title>
    <!-- HTML Meta Tags -->
    <meta name="description" content="Script and server manager">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Topic Related Searching at SCRIPT.COM.">
    <meta itemprop="description" content="Script and server manager">
    <meta itemprop="image" content="https://images.unsplash.com/photo-1533640244273-3f1828ce5986?ixlib=rb-0.3.5&s=67085f3ae3031e79bd0b5d6275681b44&auto=format&fit=crop&w=750&q=80 750w">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://script.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Topic Related Searching at SCRIPT.COM.">
    <meta property="og:description" content="Script and server manager">
    <meta property="og:image" content="https://images.unsplash.com/photo-1533640244273-3f1828ce5986?ixlib=rb-0.3.5&s=67085f3ae3031e79bd0b5d6275681b44&auto=format&fit=crop&w=750&q=80 750w">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Topic Related Searching at SCRIPT.COM.">
    <meta name="twitter:description" content="Script and server manager">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1533640244273-3f1828ce5986?ixlib=rb-0.3.5&s=67085f3ae3031e79bd0b5d6275681b44&auto=format&fit=crop&w=750&q=80 750w">

    <!-- Meta Tags Generated via http://heymeta.com -->

    <link rel="stylesheet" href="/static/css/mdui.css">
    <link rel="stylesheet" href="/static/css/input.css">
    <link rel="stylesheet" href="/static/css/card.css">
</head>
<body class="mdui-appbar-with-toolbar mdui-appbar-with-tab-larger"  style="background-color: #343638;overflow: hidden;">
    <div id="bar" class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-indigo-700">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">touch_app</i></a>
            <a href="javascript:;" class="mdui-typo-title">Script_Manager</a>
            <div class="mdui-toolbar-spacer"></div>
            <div style="width: 400px;">
                <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
                    <button class="mdui-textfield-icon mdui-btn mdui-btn-icon" mdui-tooltip="{content: '查找'}"><i class="mdui-icon material-icons">search</i></button>
                    <input class="mdui-textfield-input" style="color: white;" type="text" placeholder="Search"/>
                    <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i></button>
                </div>
            </div>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '删除'}" onclick="confirmDelete(function() { deleteItem() })"><i class="mdui-icon material-icons">delete_sweep</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '刷新'}"><i class="mdui-icon material-icons">refresh</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '菜单'}" mdui-menu="{target: '#script-menu', position: 'bottom', covered: false}"><i class="mdui-icon material-icons">more_vert</i></a>
            #include("menu.html")
        </div>
        <div class="mdui-tab mdui-color-indigo-700" mdui-tab>
            <a href="#script-list" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">format_list_bulleted</i>
                <label>Script_List</label>
            </a>
            <a href="#script-server" class="mdui-ripple mdui-ripple-white" onclick="getServerByPage(this)">
                <i class="mdui-icon material-icons">brightness_high</i>
                <label>Servers</label>
            </a>
            <!--<a href="#script-output" class="mdui-ripple mdui-ripple-white">-->
                <!--<i class="mdui-icon material-icons">chat_bubble_outline</i>-->
                <!--<label>Output</label>-->
            <!--</a>-->
            <!--<a href="#script-add" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">add_circle</i>
                <label>Add</label>
            </a>-->
            #include("scriptAdd.html")
        </div>
    </div>

    <div class="mdui-container-fluid">
        #include("scriptList.html")
        #include("scriptServer.html")
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/mdui.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        $(document).ready(function () {
            changeDivHeight();

            get("/base/getProp", null, false);
            host = result.host;
            port = result.port;
        })

        //当浏览器窗口大小改变时，设置显示内容的高度
        $(window).resize(function () {
            changeOutputHeight();
            $("#server_output").css("height", serverOutputHeight() - 30)
        })

        $(window).resize(function () {
            var btnClass = $("#sahre-script").attr('class');
            if (btnClass == "share-btn mdui-hoverable clicked-script") {
                $("#sahre-script").height(changeDivHeight() - 50);
            }
        })
    </script>
</body>
</html>