<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Script</title>
    <link rel="stylesheet" href="/static/css/mdui.css">
</head>
<body class="padding-top" style="background-color: #757575;overflow: hidden;">
    <div class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-indigo-700">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">touch_app</i></a>
            <a href="javascript:;" class="mdui-typo-title">Script_Manager</a>
            <div class="mdui-toolbar-spacer"></div>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
        </div>
        <div class="mdui-tab mdui-color-indigo-700" mdui-tab>
            <a href="#script-tab1" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">format_list_bulleted</i>
                <label>Script_List</label>
            </a>
            <a href="#script-tab2" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">favorite</i>
                <label>favorites</label>
            </a>
            <a href="#script-tab3" class="mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">perm_contact_calendar</i>
                <label>nearby</label>
            </a>
        </div>
    </div>

    <!--<div class="mdui-panel" style="padding: 0 20px 0 20px;margin-top: 20px">-->
        <!--<div class="mdui-panel-item mdui-panel-item-open" style="border-radius: 20px;">-->
            <!--&lt;!&ndash;<div class="mdui-panel-item-header">Second</div>&ndash;&gt;-->
            <!--<div class="mdui-panel-item-body" style="padding-top: 10px">-->
                <!---->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="mdui-table-fluid mdui-hoverable" style="margin: 160px 20px 20px 20px;border-radius: 10px">
        <table class="mdui-table mdui-table-selectable mdui-table-hoverable">
            <thead>
                <tr>
                    <th>Dessert (100g serving)</th>
                    <th class="mdui-table-col-numeric">Calories</th>
                    <th class="mdui-table-col-numeric">Fat (g)</th>
                    <th class="mdui-table-col-numeric">Carbs (g)</th>
                    <th class="mdui-table-col-numeric">Protein (g)</th>
                    <th class="mdui-table-col-numeric">Sodium (mg)</th>
                    <th class="mdui-table-col-numeric">Calclum (%)</th>
                    <th class="mdui-table-col-numeric">Lron (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Frozen yogurt</td>
                    <td>159</td>
                    <td>6.0</td>
                    <td>24</td>
                    <td>4.0</td>
                    <td>87</td>
                    <td>14%</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>Ice cream sandwich</td>
                    <td>237</td>
                    <td>9.0</td>
                    <td>37</td>
                    <td>4.3</td>
                    <td>129</td>
                    <td>8%</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>Eclair</td>
                    <td>262</td>
                    <td>16.0</td>
                    <td>24</td>
                    <td>6.0</td>
                    <td>337</td>
                    <td>6%</td>
                    <td>7%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/mdui.js"></script>
</body>
</html>