<ul class="mdui-menu" id="script-menu">
    <li class="mdui-menu-item">
        <a href="javascript:;" class="mdui-ripple">
            <i class="mdui-menu-item-icon mdui-icon material-icons">remove_red_eye</i>Preview
        </a>
    </li>
    <li class="mdui-menu-item">
        <a href="javascript:;" class="mdui-ripple">
            <i class="mdui-menu-item-icon mdui-icon material-icons">file_download</i>Download
        </a>
    </li>
    <li class="mdui-divider"></li>
    <li class="mdui-menu-item">
        <a href="javascript:;" class="mdui-ripple">
            <i class="mdui-menu-item-icon mdui-icon material-icons">delete</i>Remove
        </a>
    </li>
    <li class="mdui-menu-item">
        <a href="javascript:;" class="mdui-ripple">
            <i class="mdui-menu-item-icon"></i>Empty
        </a>
    </li>
</ul>
