<div id="script-output" class="layui-anim layui-anim-up" style="margin-top: 20px;display: none;z-index: 1;">
    <div id="script_output_div" class="mdui-panel-item mdui-panel-item-open" style="border-radius: 10px;background-color: #27292B;">
        <!--<div class="mdui-panel-item-header">Second</div>-->
        <a href="javascript: closeConnServer(serverWs);" style="float: right;margin: 8px;link: #1dff18"><i class="mdui-icon material-icons">close</i></a>
        <div class="mdui-panel-item-body" style="color: white;">
            <textarea id="server_output" spellcheck="false" name="desc" placeholder="服务未连接" class="layui-textarea" cols="100"></textarea>
        </div>
    </div>
</div>