<div id="script-tab2" style="margin: 20px 15px 0 15px;">
    <div class="mdui-table-fluid mdui-hoverable" style="border-radius: 10px">
        <table class="mdui-table mdui-table-selectable mdui-table-hoverable">
            <thead>
            <tr>
                <th>Alias</th>
                <th>Sodium (mg)</th>
                <th>Calclum (%)</th>
                <th>Lron (%)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Frozen yogurt</td>
                <td>87</td>
                <td>14%</td>
                <td>1%</td>
            </tr>
            <tr>
                <td>Ice cream sandwich</td>
                <td>129</td>
                <td>8%</td>
                <td>1%</td>
            </tr>
            <tr>
                <td>Eclair</td>
                <td>337</td>
                <td>6%</td>
                <td>7%</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>