<div id="script-output" style="margin: 20px 15px 0 15px;">
    <div id="script_output_div" class="mdui-panel-item mdui-panel-item-open" style="border-radius: 10px;background-color: #27292B;">
        <!--<div class="mdui-panel-item-header">Second</div>-->
        <div class="mdui-panel-item-body" style="color: white;">
            <pre>
Last login: Sat Aug  4 10:20:05 on ttys001
# [ /Users/whimthen ] => ll
total 0
drwx------@  3 whimthen  staff    96B  7 27 22:22 Applications
drwx------+  3 whimthen  staff    96B  7 27 22:04 Desktop
drwx------+  3 whimthen  staff    96B  7 27 22:04 Documents
drwx------+ 34 whimthen  staff   1.1K  8  4 11:50 Downloads
drwx------@ 60 whimthen  staff   1.9K  7 28 22:22 Library
drwx------+  3 whimthen  staff    96B  7 27 22:04 Movies
drwx------+  4 whimthen  staff   128B  7 28 23:14 Music
drwxr-xr-x   7 whimthen  staff   224B  7 28 22:23 Nustore Files
drwx------+  4 whimthen  staff   128B  7 27 22:26 Pictures
drwxr-xr-x+  4 whimthen  staff   128B  7 27 22:04 Public
drwxr-xr-x   6 whimthen  staff   192B  7 29 22:45 dev
# [ /Users/whimthen ] =>
            </pre>
        </div>
    </div>
</div>