<div id="script-add" style="margin: 20px 15px 0 15px;">
    <!--<div class="mdui-panel-item mdui-panel-item-open" style="border-radius: 10px;">
        <div class="mdui-panel-item-body" style="padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>-->

    <div class="share-btn" style="margin-left: -300px;">
        <span class="cta">Script</span>
        <div class="close ion-close-round"><i class="mdui-icon material-icons">close</i></div>
        <ul class="social">
            <li>Facebook<span>12</span></li>
            <li>Twitter<span>50</span></li>
            <li>Google +<span>248</span></li>
            <li>Facebook<span>12</span></li>
            <li>Twitter<span>50</span></li>
            <li>Google +<span>248</span></li>
        </ul>
        <div class="fake-input">http://www.jq22.com/</div>
    </div>

    <div class="share-btn" style="margin-left: 300px">
        <span class="cta">Server</span>
        <div class="close ion-close-round"><i class="mdui-icon material-icons">close</i></div>
        <ul class="social">
            <li>Facebook<span>12</span></li>
            <li>Twitter<span>50</span></li>
            <li>Google +<span>248</span></li>
            <li>Facebook<span>12</span></li>
            <li>Twitter<span>50</span></li>
            <li>Google +<span>248</span></li>
        </ul>
        <div class="fake-input">http://www.jq22.com/</div>
    </div>
</div>